// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontaweasom
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'style/login';

.navbar{
    background-color:#007900 !important;
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.main-link-user{
    color: white !important;
    padding: 0px !important;
}